.banner img{
    background-image: url('images/davibrito.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.banner h2{
    color: #f4f4f4;
    text-align: center;
}